<!--MODUL-LEFT-->
    <!DOCTYPE html>
    <html>
    <table align="left" bgcolor="#002d72" border="0" cellpadding="0" cellspacing="0" style="width: 290px;border-collapse:collapse;font-size:0px;line-height:normal;background-color: #002d72">
        <tbody>
            <tr>
                <td align="left" valign="top">
                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 300px;border-collapse:collapse;font-size:0px;line-height:normal">
                        <tbody>
                            <tr>
                                <td align="center" valign="top">
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 260px">
                                        <tbody>
                                            <tr>
                                                <td align="left" style="border-collapse:collapse">
                                                    <a href="" target="_blank" style="outline: none;text-decoration: none" rel="noopener noreferrer"><img style="border:0 none;display:block;height:100px;width:200px;padding-left: 70px;" src="~/system/images/AmtrustLogo.png" alt="Amtrust"></a>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                        <tbody>
                                            <tr>
                                                <td align="center">

                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="font-family:ALSShlange_reg,sans-serif;height: 5px; line-height:5px;font-size:1px;font-weight: normal">
                                                                    &nbsp;

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 260px">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 80px">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="font-family:ALSShlange_reg,sans-serif;color:#467FC1;font-size:14px;line-height:20px;font-weight: normal;text-align:left">
                                                                    US from Sprints:
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table align="right" border="0" cellpadding="0" cellspacing="0">
                                                        <tbody>
                                                            <tr>
                                                                <td contentEditable="true" align="right" style="font-family:ALSShlange_reg,sans-serif;color:#ffffff;font-size:14px;line-height:20px;font-weight: normal;text-align:right">
                                                                    123 - 28 June 2022 - 11 July 2022<br>
                                                                    124 - 12 July 2022 - 25 July 2022<br>
                                                                    Release: 28 July 2022
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 260px">
                                        <tbody>
                                            <tr>

                                                <td align="center" style="border-collapse:collapse">
                                                    <img style="border:0 none;display:block;height:30px;width:270px" src="~/system/images/line_30.png" alt="">
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 260px">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 220px">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="font-family:ALSShlange_reg,sans-serif;color:#ffffff;font-size:16px;line-height:32px;font-weight: normal;text-align:left">
                                                                    QA team
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--///-->
                                    <!--TXT 1COL END-->
                                    <!--UL-->
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 260px">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 130px">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="font-family:ALSShlange_reg,sans-serif;color:#467FC1;font-size:14px;line-height:20px;font-weight: normal;text-align:left">
                                                                    Company:
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 130px">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="font-family:ALSShlange_reg,sans-serif;color:#ffffff;font-size:14px;line-height:20px;font-weight: normal;text-align:right">
                                                                    AIS Novations
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--///-->
                                    <!--UL END-->
                                    <!--PADDING-->
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                        <tbody>
                                            <tr>
                                                <td align="center">

                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="font-family:ALSShlange_reg,sans-serif;height: 5px; line-height:5px;font-size:1px;font-weight: normal">
                                                                    &nbsp;

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--PADDING END-->
                                    <!--PADDING-->
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                        <tbody>
                                            <tr>
                                                <td align="center">

                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="font-family:ALSShlange_reg,sans-serif;height: 5px; line-height:5px;font-size:1px;font-weight: normal">
                                                                    &nbsp;

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--PADDING END-->
                                    <!--UL-->
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 260px">
                                        <tbody>
                                            <tr>
                                                <td align="center">
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 130px">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="font-family:ALSShlange_reg,sans-serif;color:#467FC1;font-size:14px;line-height:20px;font-weight: normal;text-align:left">
                                                                    QA engineers:
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 130px">
                                                        <tbody>
                                                            <tr>
                                                                <td align="left" style="font-family:ALSShlange_reg,sans-serif;color:#ffffff;font-size:14px;line-height:20px;font-weight: normal;text-align:right">
                                                                    Davydzenka, Nastassia<br>
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>
                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--///-->
                                    <!--UL END-->
                                    <!--PADDING-->
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                        <tbody>
                                            <tr>
                                                <td align="center">

                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                        <tbody>
                                                            <tr>
                                                                <td align="center" style="font-family:ALSShlange_reg,sans-serif;height: 5px; line-height:5px;font-size:1px;font-weight: normal">
                                                                    &nbsp;

                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--PADDING END-->
                                    <!--PADDING-->
                                    <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                        <tbody>
                                            <tr>
                                                <td align="center">

                                                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                                                        <tbody>
                                                            <tr>
                                                                <!-- black tail length -->
                                                                <td align="center" style="font-family:ALSShlange_reg,sans-serif;height:3000px; line-height:150px;font-size:79px;font-weight: normal">
                                                                    &nbsp;
                                                                </td>
                                                            </tr>
                                                        </tbody>
                                                    </table>

                                                </td>
                                            </tr>
                                        </tbody>
                                    </table>
                                    <!--PADDING END-->
                                    <!--modulContent end-->
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </td>
            </tr>
        </tbody>
    </table>
    <!--MODUL-LEFT END-->
    </html>
