<!--MODUL-RIGHT-->
<table align="left" bgcolor="#ffffff" border="0" cellpadding="0" cellspacing="0" style="width: 860px;border-collapse:collapse;font-size:0px;line-height:normal;background-color: #ffffff">
    <tbody>
    <tr>
    <td align="center" valign="top">
    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 860px;border-collapse:collapse;font-size:0px;line-height:normal">
        <tbody>
        <tr>
        <td align="left" valign="top">
        <!--modulContent-->
        <!--PADDING-->
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
            <tr>
                <td align="center">

                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                        <tr>
                            <td align="center" style="font-family:ALSShlange_reg,sans-serif;height: 15px; line-height:15px;font-size:11px;font-weight: normal">
                                &nbsp;
                            </td>
                        </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            </tbody>
        </table>
        <!--PADDING END-->
        <!--HEAD-->
                    
        <td></td>
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 820px">
            <tbody>
            <tr>
                <td align="left" style="font-family:ALSShlange_reg,sans-serif;color:#231F20;font-size:32px;line-height:36px;font-weight: normal;text-align:left">
                    Amtrust AMP app
                </td>
            </tr>
            <tr>
                <td align="left" style="font-family:ALSShlange_reg,sans-serif;color:#0473A1;font-size:16px;line-height:20px;font-weight: normal;text-align:left">
                    Sprint 124
                </td>
            </tr>
            </tbody>
        </table>
        <!--HEAD END-->
        <!--PADDING-->
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
            <tr>
                <td align="center">

                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                        <tr>
                            <td align="center" style="font-family:ALSShlange_reg,sans-serif;height: 10px; line-height:10px;font-size:6px;font-weight: normal">
                                &nbsp;

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            </tbody>
        </table>
        <!--PADDING END-->
        <!--PADDING-->
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
            <tr>
                <td align="center">

                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                        <tr>
                            <td align="center" style="font-family:ALSShlange_reg,sans-serif;height: 10px; line-height:10px;font-size:6px;font-weight: normal">
                                &nbsp;

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            </tbody>
        </table>
        <!--PADDING END-->
        <!--PADDING-->
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
            <tr>
                <td align="center">

                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                        <tr>
                            <td align="center" style="font-family:ALSShlange_reg,sans-serif;height: 10px; line-height:10px;font-size:6px;font-weight: normal">
                                &nbsp;

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            </tbody>
        </table>
        <!--PADDING END-->
        <!--PADDING-->
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
            <tbody>
            <tr>
                <td align="center">

                    <table align="left" border="0" cellpadding="0" cellspacing="0" style="width: 100%">
                        <tbody>
                        <tr>
                            <td align="center" style="font-family:ALSShlange_reg,sans-serif;height: 10px; line-height:10px;font-size:6px;font-weight: normal">
                                &nbsp;

                            </td>
                        </tr>
                        </tbody>
                    </table>

                </td>
            </tr>
            </tbody>
        </table>
        <!--PADDING END-->
        <!--HEAD-->
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 820px">
            <tbody>
            <tr>
                <td align="left" style="font-family:ALSShlange_reg,sans-serif;color:#231F20;font-size:28px;line-height:32px;font-weight: normal;text-align:left">
                    The list of items that are going to be a part of the next release
                </td>
            </tr>
            </tbody>
        </table>
        <!--HEAD END-->
        <!--LINE-->
        <table align="center" border="0" cellpadding="0" cellspacing="0" style="width: 820px">
            <tbody>
            <tr>
                <td align="center" style="border-collapse:collapse">
                    <img style="border:0 none;display:block;height:20px;width:820px" src="~/system/images/line_20.png" alt="">
                </td>
            </tr>
            </tbody>
        </table>
        <!--LINE END-->
    </table>
</table>
